doctype html 
html(lang="en")
head 
title PUG TUTORIAL 
body  
hi LJU
//- p(style="color:red") xyz


//- table(border="1px solid")
//-     tr 
//-     th name 
//-     th id 
//-     tr 
//-     td John
//-     td par 

ol(type="I")
    li html 
    li pug
