//- html
//-   head
//-     title PUG
//-   body
//-     //1
//-     hi LJU 
//-     //2
//-     p lets learn 
//-     //3
//-     h5(style="text-transform:uppercase;color:red") lju
//-     //4
//-     h5(style="text-transform:uppercase")
//-       The file will not render 
//-       property if not proper 
//-       indentation 
//-     //5
//-     ul
//-       li mango
//-       li lichi
//-     - var numer = 2
//-     h4 3 times number is: #{numer * 3}
//- html 
//-  body 
//-    form(action="/data",method="get")
//-      div 
//-        label enter the name 
//-        input(type="text",name="name")
//-      div 
//-        label enter the email 
//-        input(type="email",name="email")
//-      div  
//-        input(type="submit",value="submit")
